*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --border-color: #ECECEC;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --main-background-color: #2F303A;
    --secondary-backgroud-color: #F5F4FA;
    --social-links-main-color: #AFB1B8;
    --social-link-background-color: rgba(255, 255, 255, 0.1);
    --hero-gradient-color:  rgba(47, 48, 58, 0.4);
    --portfolio-border-color: #EEEEEE;
    --black-color: #000000;
}  

body {
    background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-text-color)
}

.header{
    border: 1px solid var(--border-color);
}

/* Выравние элементов шапки в одну линию */

.header-items{
    display: flex;
    align-items: center;
}

/* Параметры для div "conteiner" */

.conteiner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Navigation - Навигация по сайту */

.nav-info{
    display: flex;
    align-items: center;
}

/* Logo WebStudio - Оформление логотипа */

.logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-studio{
    color: var(--primary-text-color);
}

.logo-studio-footer{
    color: var(--white-text-color);
}

.logo:hover,
.logo:active,
.logo:focus {
    color: var(--accent-color);
}

/* Оформление навигационного списка */

.nav-list{
    display: flex;
    margin: 0 0 0 93px;
}

.nav-list-item{
    margin-left: 50px;
    display: block;
}

.nav-list-item:last-child{
    margin-left: 50px;
}

.nav-list-link{
    display: flex;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none; 
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:active,
.nav-list-link:focus {
    color: var(--accent-color);
}

/* Подчеркивание текущей ссылки */

.nav-list-item.current::after,
.nav-list-item:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    margin: 0 auto;
    background-color: var(--accent-color);
    opacity: 1;
}

.nav-list-item:hover::after,
.nav-list-item:active::after{
    opacity: 1;
}

/* Подсвечивание текущей ссылки */

.nav-list .nav-list-link.current {
    color: var(--accent-color);
}




/* Contacts - Контакты */

.contacts-list{
    display: flex;
    margin: 0 0 0 auto;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    text-decoration: none; 
}

.contacts-icon {
    margin-right: 10px;
}

.contacts-list-item{
    margin-right: 50px;
}

.contacts-list-link {
    display: flex;
    align-items: center;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none; 
    fill:currentColor;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover, 
.contacts-list-link:active, 
.contacts-list-link:focus{
    color: var(--accent-color);
}

/* Hero section - Секция Герой */

.hero-section{
    text-align: center;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        
    url("../images/img-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-background-color);
}

.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    display: inline-block;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our features - Наши преимущества */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.features-section{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.feature-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--secondary-backgroud-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-item{
    min-width: 270px;
}

.feature-item:not(:last-child) {
    margin-right: 30px;
}

.feature-title{
    margin-bottom: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.feature-text{
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* What we do - Чем мы занимаемся */

.what-we-do{
    padding-bottom: 94px;
}

.what-we-do-title{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.what-we-do-list{
    display: flex;
}

.what-we-do-img:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-img{
    position: relative;
    overflow: hidden;
}

.what-we-do-img-thumb{
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-text{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 27px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
}

/* Our team - Наша команда */

.our-team{
    background: var(--secondary-backgroud-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-team-list{
    display: flex;
}

.our-team-item:not(:last-child) {
    margin-right: 30px;
}

.our-team-item{
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-item .image{
    display: block;
}

.team-card{
    padding: 30px 30px;
}

.social-list{
    display: flex;
    justify-content: space-between;
}

.social-item{
    width: 44px;
    height: 44px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: currentColor;
    color: var(--social-links-main-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}
.social-icon{
    width: 20px;
    height: 20px;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
    color: var(--white-text-color);
    fill: var(--white-text-color);
}

/* Our team members - Члены нашей команды */

.person-title{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.person-text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* Address and Contacts - Адрес и контакты подвал, Соц. сети */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--main-background-color);
}

.footer .conteiner{
    display: flex;
    align-items: baseline;
}

.contacts-item {
    margin-bottom: 9px;
}

.contacts-footer{
    margin-right: 70px;
    width: 231px;
}

.footer .logo{
    display: block;
    margin-bottom: 20px;
    padding: 0 0 0 0;
}

.address{
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none; 
}

.contacts{
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    text-decoration: none; 
}

.contacts:hover,
.contacts:active,
.contacts:focus {
    color: var(--accent-color);
}

.social-links-footer{
    width: 206px;
}

.social-title-footer{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.social-list-item-footer{
    width: 44px;
    height: 44px;
}

.footer .social-link-footer{
    background-color: var(--social-link-background-color);
}

.social-links-list-footer{
    display: flex;
}

.social-list-item-footer:not(:last-child) {
    margin-right: 10px;
}

.social-link-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: currentColor;
    color: var(--white-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus{
    background-color: var(--accent-color);
    color: var(--white-text-color);
    fill: var(--white-text-color);
}

/* Our clients - Наши клиенты */

.our-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-clients-title{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-clients-list{
    display: flex;
}

.our-clients-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
}

.our-clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--social-links-main-color);
    border: 1px solid var(--social-links-main-color);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-item:not(:last-child) {
    margin-right: 30px;
}

.our-clients-icon{
    fill: currentColor;
}

.our-clients-link:hover,
.our-clients-link:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
}

/* Portfolio.html - Страница Портфолио */

/* Service conteiner - Наши работы - кнопки и карточки */

.our-works{
    padding-top: 94px;
    padding-bottom: 94px;
}

.worktype-filters{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.worktype-filters-item:not(:last-child){
    margin-right: 8px;
}

.filter-button{
    padding: 6px 22px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    color: var(--primary-text-color);
    background: var(--secondary-backgroud-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.work-examples p {
    font-size: 16px;
    line-height: 30px;
/* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.worktype-filters .filter-button.current{
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.work-examples{
    display: flex;
    flex-wrap: wrap;
}

.work-examples-item{
    width: 370px;
    margin: 0px 30px 30px 0px;
    border: 1px solid var(--portfolio-border-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-item:nth-child(3n + 3) {
    margin-right: 0px;
}

.work-examples-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.work-examples-item:hover,
.work-examples-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples-text{
    padding: 20px 24px;
}

/* Оформление оверлея*/

.work-examples-img-thumb{
    position: relative;
    overflow: hidden;
}

.work-examples .img-text{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 28px;
/* or 156% */
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples .work-examples-item:hover .img-text{
    transform: translateY(0);
}

/* Добавление модального окна */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color :rgba(0, 0, 0, 0.2);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.button-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-text-color);
    cursor: pointer;
}

.button-close .icon-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--black-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover{
    fill: var(--accent-color)
}

/* Оформление формы модального окна */

.modal-form-title{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-input-wrapper{
    display: block;
    position: relative;
}

.modal-form-input-label{    
    font-size: 12px;
    line-height: 14px;
/* identical to box height */
    letter-spacing: 0.01em; 
    color: var(--secondary-text-color);
}

.modal-form-input-label:not(:first-child) {
    margin-top: 10px;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-input:focus{
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 15px;
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--black-color);
    border-radius: 2px;
    content: "";
    margin-right: 8px;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
    width: 16px;
    height: 15px;
    background-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
    border-color: var(--accent-color);
    border-radius: 2px;
}

.modal-form-label-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 24px;
/* identical to box height, or 171% */
    letter-spacing: 0.03em;
}

.modal-form-link{
    color: var(--accent-color);
    text-decoration: underline;
}

.modal-form-button-send{
    align-self: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Подпишитесь на рассылку */

.footer-form-wrapper{
    display: flex;
}

.email-send{
    margin-left: 93px;
} 

.footer-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-input{
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;  
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px; 
    color: var(--white-text-color);
    background-color: var(--main-background-color);
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.25;
}

.footer-input:focus{
    border: 1px solid var(--accent-color);
    outline: none;
    cursor: pointer;
}

.footer-button{
    display: flex;
    align-items: center;
    padding: 10px 29px;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;  
    text-transform: capitalize;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.email-icon-footer{
    align-items: center;
    margin-left: 10px;
}


