
.hero-button{    
    @include font (16px, 700, 30px, 0.06em);

    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    display: inline-block;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button{
    display: flex;
    align-items: center;
    padding: 10px 29px;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;  
    text-transform: capitalize;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
